body {
    color: white;
    text-align: center;
    background: black;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 40;
}

h1 {
    font-size: 70;
}

a {
    font-size: 40;
}