body {
    color: #000;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

a {
    font-size: 16px;
}

pre {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a:link {
  color: #f00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #f00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #00f;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #00f;
  background-color: transparent;
  text-decoration: underline;
}

  .responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
  }