body {
    color: white;
    background: black;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

a {
    font-size: 16px;
}

pre {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: lightcoral;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: lightcoral;
    background-color: transparent;
    text-decoration: underline;
  }